footer{
  width: 100%;
  background: whitesmoke;
  margin-top: 64px;
  padding: 48px 0;
  background: $dark-color;
  h1,ul{
    text-align: center;
    
  }

  h1{
    font-family: 'presicav';
    text-transform: uppercase;
    //padding: 36px 0 24px 0;
    padding-bottom: 24px;
    margin: 0 auto;
    color: #fff;
  }
  ul{
    margin-bottom: 48px;
    li{
      margin: 0;
      padding: 2px 0;
      a{
        text-decoration: none !important;
        color: #fff !important;

      }
    }
  }
}